<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <form action="/questions/addquestion" method="post">
      <label for="innerHTML">innerHTML:</label>
      <textarea id="innerHTML" name="innerHTML" rows="4" cols="50"></textarea><br><br>
      <label for="inputFolder">inputFolder:</label>
      <input type="text" id="inputFolder" name="inputFolder"><br><br>
      <label for="outputFolder">outputFolder:</label>
      <input type="text" id="outputFolder" name="outputFolder"><br><br>
      <label for="num">num:</label>
      <input type="number" id="num" name="num"><br><br>
      <input type="submit" value="s">
   </form>
</body>

</html>