<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/contestPage.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <title>Document</title>
</head>

<body>
   <div class="right">
      <pre class="editor" id="editor">
console.log("Hello Wolrd")
      </pre>
      <div class="option">
         <button class="submit" id="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">submit</button>
         <ul class="pages">
            <li class="page"><a class="pagelink" href="#">1</a></li>
            <li class="page"><a class="pagelink">2</a></li>
            <li class="page"><a class="pagelink">3</a></li>
         </ul>
         <select name="languages" class="languages" id="languages" value="javascript">
            <option value="javascript">java script</option>
            <option value="java">java</option>
            <option value="c_cpp">C & C++</option>
            <option value="python">python</option>
         </select>
      </div>
   </div>
   <div class="left">
      <div class="question">
      </div>
      <table class="scoreboard">
         <tr>
            <th colspan="1">Rank</th>
            <th colspan="6">Name</th>
            <th colspan="3">Score</th>
         </tr>
         <tr>
            <td colspan="1">1</td>
            <td colspan="6">name1</td>
            <td colspan="3">Score</td>
         </tr>
         <tr>
            <td colspan="1">1</td>
            <td colspan="6">name1</td>
            <td colspan="3">Score</td>
         </tr>
         <tr>
            <td colspan="1">1</td>
            <td colspan="6">name1</td>
            <td colspan="3">Score</td>
         </tr>
         <tr>
            <td colspan="10">...</td>
         </tr>
         <tr>
            <td colspan="1">1</td>
            <td colspan="6">name1</td>
            <td colspan="3">Score</td>
         </tr>

      </table>
   </div>

   <!-- Modal -->
   <div class="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="exampleModal">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Result</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalcontent">
               <div class="loader"> </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
   <script src="../ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
   <script src="../javascripts/editor.js"></script>


</body>

</html>