<!DOCTYPE html>
<html>

<head>
  <title>Programmin Contest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='./stylesheets/style.css' />
</head>

<body>
  <img class="col-5 col-s-8" src="./images/BackGround.png" alt="">
  <form class="form col-3 col-s-9" method='post' action="/Login">
    <% if(errmsg.length>0) {%>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong> <%= errmsg %></strong>
    </div>
    <% } %>
    <h1>ورود به مسابقه</h1>
    <input type="email" name="Email" id="email" placeholder="ایمیل" required>
    <input type="password" name="Password" id="password" placeholder="گذرواژه" required>

    <input type="submit" value="ورود">
  </form>
</body>

</html>